@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.circular-btn {
    border-radius: 30px;
}

.circular-btn:hover {
    background-color: rgb(45, 77, 167);
}

label#pais-label { display: none; }